
<html>
<head>
    {% block head %}
    <link href="index.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <title>{% block title %}QL{% endblock title %}</title>
    <meta name="author" content="Nick Davaloz">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    {% endblock head %}
</head>

<body>

<header>
    <h1>Quicken Loans Internship</h1>
    <nav>
        <a href="/">Calculator</a>
        <a href="#">Other</a>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock content %}
</main>


<footer>
    <p>A project of Nick Davaloz </p>
    <nav>
        <a href="/">Calculator</a>
        <a href="#">Other</a>
    </nav>
</footer>
</body>

</html>