.xy
{
    top: 350px;
    left: 600px;
    font-size:1.4em;
    font-weight:bold;
    color:black;
}

body
{
    font-family:alegreya,san serif;
    background-repeat:no-repeat;
    background-size:cover;
}


.title
{
    color: darkblue;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 4em;
}
