.xy
{
    font-size:1.4em;
    font-weight:bold;
    color:black;
}

table
{
    margin-top:100px;
    margin-left:250px;
}

body
{
    font-family:alegreya,san serif;
    background-repeat:no-repeat;
    background-size:cover;
}


#title
{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 3em;
}
div
{
    font-style: normal;
    position: fixed;
    top: 350px;
    left: 600px;
}