<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Alegreya:700italic,400' rel='stylesheet' type='text/css'>
    </head>
    <body>
<form method="post" action="">
    <table cellpadding=30px align=center>
        <tr>
            <td id="title" align=center colspan=2>CALCULATOR</td>
        </tr>
        <tr>
            <td class="xy" align=center colspan=2>
                X Value: <input type="text" name="xValue" required="" />
            </td>
        </tr>
        <tr>
            <td class="xy" align=center colspan=2>
                Y Value: <input type="text" name="yValue" required="" />
            </td>
            <tr>
                <td align=center width=100px>
                    <button name="operator" type="submit" value="subtract">-</button>
                </td>
                <td align=center width=100px>
                    <button name="operator" type="submit" value="addition">+</button>
                </td>
            </tr>
            <tr>
                <td align=center width=100px>
                <button name="operator" type="submit" value="multiply">x</button>
                </td>
                <td align=center width=100px>
                <button name="operator" type="submit" value="divide">/</button>
                </td>
            </tr>
    </table>
</form>
</body></html>