.xy
{
    top: 350px;
    left: 600px;
    font-size: 2em;
    font-weight:bold;
    color:black;
}

body
{
    font-family:alegreya,san serif;
    background-color: #EDEDED;
    background-size:cover;
}


.title
{
    color: #080808;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 3.5em;
}

.answer
{
    font-size: 2em;
    font-weight:bold;
    color:black;
}

.operator
{
    font-size: 1.5em;
    font-weight:bold;
    color:black;
}

.xValue
{
border: 1px solid #006;
background: #E0E0E0;
}

.yValue
{
    border: 1px solid #006;
    background: #E0E0E0;
}

.submit
{
    border: 1px solid #006;
    background: #f7f7f7;
}